@import "tailwindcss";

:root {
  --background: oklch(0.1 0.01 250);
  --foreground: oklch(0.95 0.01 250);
  --primary: oklch(0.6 0.15 35);
  /* Naranja Terracota */
  --secondary: oklch(0.15 0.02 250);
  --accent: oklch(0.7 0.1 150);
  --card: oklch(0.13 0.02 250);
  --card-foreground: oklch(0.98 0 0);
  --border: oklch(0.2 0.02 250);
  --muted: oklch(0.25 0.01 250);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-primary/30;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-dark {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}